.loading {
    align-self: center;
    justify-self: center;
    width: 6vw;
    height: 6vw;
    animation: loading 4.8s linear infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg) }
    0% { transform: rotate(360deg) }
}

.loading span {
    display: block;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0;
    margin: auto;
    height: 6vw;
    width: 6vw;
    clip: rect(0, 6vw, 6vw, 3vw);
    animation: span 1.2s linear infinite
}

@keyframes span {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(220deg) }
}

.loading span::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0;
    margin: auto;
    height: 6vw;
    width: 6vw;
    clip: rect(0, 6vw, 6vw, 3vw);
    border: 2px solid #000;
    border-radius: 50%;
    animation: span-after 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes span-after {
    0%   { transform: rotate(-140deg); }
	50%  { transform: rotate(-160deg); }
	100% { transform: rotate(140deg); }
}

