.register-container {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.register-form {
    width: 30vw;
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register-form > input {
    margin: 1.2vh;
    padding: 1vh;
    border: 0;
    border-bottom: 1px solid aquamarine
}
.register-form > input:focus {
    border: 0;
    border-bottom: 2px solid aqua;
}
.register-button {
    border-radius: 10px;
    border: 1px solid #444;
    cursor: pointer;
    background: transparent;
    align-self: center;
    width: 10vw;
    height: 5vh;
    margin-top: 1vh;
    transition: all 0.5s;
}
.register-button:hover {
    transform: scale(1.1);
    background-color: #444;
    color: white;
    font-weight: 600;
}
.redirect-reg-a {
    text-decoration: none;
    color: blue;
}
.redirect-reg-a:hover {
    color: dodgerblue;
}
.error-p {
    margin: 0;
    color: red;
    font-size: 0.7em;
}
.signed-up-p {
    font-size: 0.9em;
}